html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #000;
    font-family: "UD Shin Go Regular", -apple-system, "Lucida Grande", "Helvetica Neue", "メイリオ", meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
    line-height: 1.8;
    background: #ffffff;
    font-size: 1.6em;
}

a[href] {
  text-decoration: underline;
  color: #0029a6;
}
